h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'aldrich';
    font-size: 4em;

}
h2{
    text-align: center;
}
p {
    font-size: 18px;;
    text-align: center;
}

.principal{
    width: 100%;
}

.titulo1{
    background-color: rgb(255, 123, 0);

}



*{
    margin: 0;
    padding: 0;
}

NAV{
    
    border-radius: 10px;
    height: 50px;
    width: 90%;

   
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-right:AUTO;
    padding-left: AUTO;
    padding-top: AUTO;
    padding-bottom: 20;
    

}

.caja1{
  border-radius: 10px;
  height: 35px;
  width: 200px;
  background-color: rgb(255, 153, 29);
  position: absolute;
  color: white;
  text-align: center;
  margin-left: 350px;
  padding-top: 15px;
 
    box-shadow: 5px 5px 20px 5px rgb(72, 72, 72); 
    animation: shadow 1.5s infinite;
  }

.caja1:hover{
  background-color: #ff6a00;
        border-bottom: 5px solid #b14604;
        height:px;
        width:210px;
        
    box-shadow: 10px 10px 25px 5px rgb(72, 72, 72); 
    animation: shadow 1.5s infinite;
}

.caja2{
  border-radius: 10px;
  height: 35px;
  width: 200px;
  background-color:  rgb(255, 153, 29);
  position: absolute;
  color: white;
  text-align: center;
  margin-left: 600px;
  padding-top: 15px;

  box-shadow: 5px 5px 20px 5px rgb(72, 72, 72); 
  animation: shadow 1.5s infinite;
}

.caja2:hover{  
  background-color:#ff6a00;
        border-bottom: 5px solid #b14604;
        height:px;
        width:220px;
        
    box-shadow: 10px 10px 25px 5px rgb(72, 72, 72); 
    animation: shadow 1.5s infinite;
}


.caja3{
  border-radius: 10px;
  height: 35px;
  width: 300px;
  background-color:rgb(255, 153, 29);
  position: absolute;
  color: white;
  text-align: center;
  margin-left: 840px;
  padding-top: 15px;
  
  box-shadow: 5px 5px 20px 5px rgb(72, 72, 72); 
  animation: shadow 1.5s infinite;
}

.caja3:hover{
  background-color: #ff6a00;
        border-bottom: 5px solid #b14604;
        height:px;
        width:280px;
        
    box-shadow: 10px 10px 25px 5px rgb(72, 72, 72); 
    animation: shadow 1.5s infinite;
}



a{
  color: white;
    font-size: 20px;
    text-decoration: dashed;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}



.box-menu{
    background-color: #6d6d6d;
    width: 100%;
    height: 120px;
    margin-top: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.img1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
     
}

.box-titulo-4{
  margin-top: 100px;
  font-family: 'aldrich';
  font-size: 30px;
  color:#ff6a00;
  text-align: left;
}

.contenedor1{
  margin: 0 auto;
  height: 300px;
  width: 340px;
  
  position: absolute;
  color: rgb(0, 0, 0);
  text-align: justify;
  margin-left: 910px;
  padding-top: 0px;
  justify-content:center ;
}

.box-titulo-1{
  text-align: center;
  font-family: 'aldrich';
  color: #ff6a00;
}

.box-titulo-2{
  text-align: left;
  font-family: 'aldrich';
}

.box-titulo-3{
  text-align: left;
  font-family: 'aldrich';
  font-size: 30px;
  color: #ff6a00;
}

.parrafo-1{
  text-align: justify;
}


.contenedor11{
  width: 900px;
  margin: 0 auto;
  background-color: rgb(21, 81, 108);
  float: left;
  margin-left: 0%;
}

/*.img2{
 
  width: 800px;
  margin: 0 auto;
  background-color: rgb(21, 81, 108);
    float: left;
    margin-left: 0%;
}*/

.titulo3{
  font-family: 'aldrich' ;
  font-size: 6em;
  text-align: center;
color: rgb(0, 0, 0);
}

.titulo33{
  margin-top: 500px;
  background-color: #ff6a00;
  height: 110px;
  width: 100%;
  font-family: 'aldrich' ;
}




.contenedor2{
  /*background-color: rgb(252, 122, 0);*/
  width: 600px;
  height: 300px;
  float: left;
  margin-left: 7%;
}

.box-img1{
  display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
     
}



.contenedor3{
 /* background-color: rgb(255, 170, 117);*/
  width: 450px;
  height: 300px;
  float: left;
  margin-left: 4%;
}

.contenedor4{
  
  /*background-color: rgb(117, 211, 255);*/
  width: 800px;
  height: 600px;
  float: left;
  margin-left: 10%;
  margin-top: 5%;
}

.box-img2{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
 
}

.contenedor5{
 
  width: 300px;
  height: 400px;
  float: left;
  margin-left: 2%;
  margin-top: 0px;
}
.titulo-tecnico{
  text-align: center;
  font-family: 'aldrich';
  color: #ff6a00;
  font-size: 50px;
}
.detalles{
  text-align: left;
  
  }
  


.contenedor6{
 /* background-color: rgb(24, 66, 155);*/
  width: 90%;
  height:90%;
  float: left;
  margin-left: 2%;
  margin-top: 0%;
}
.box-imagen3{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contenedor7{
  /*background-color: rgb(117, 211, 255);*/
  width: 400px;
  height: 300px;
  float: left;
  margin-left: 5%;
  margin-top: 5px;
}

.box-imagen4{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contenedor8{
  
 /* background-color: rgb(117, 211, 255);*/
  width: 400px;
  height: 300px;
  float: left;
  margin-left: 5%;
  margin-top: 5px;
}

.box-imagen5{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contenedor9{
  /*background-color: rgb(24, 66, 155);*/
  width: 400px;
  height: 300px;
  float: left;
  margin-left: 5%;
  margin-top: 5px;
}

.box-imagen6{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-nav{
  width: 100%;
  height: 55px;
  background-color: rgb(255, 119, 0);
  font-size: 2em;
  margin-top:1%;
  font-family: 'ALDRICH';
}
ul{
  text-align: center;
}
li{
  display: inline-block;
  margin-top: 12px;
}
.menu-a-style{
  color: white;
  text-decoration: none;
  padding: 0 25px;

}

.menu-a-style:hover{
  color: rgba(127, 255, 212, 0.73);
}


.style-icon{
  margin-right: 20px;
}



/* aldrich-regular - latin */
@font-face {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/aldrich-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/aldrich-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/aldrich-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/aldrich-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/aldrich-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/aldrich-v17-latin-regular.svg#Aldrich') format('svg'); /* Legacy iOS */
  }

